.background {
    -fx-background-color:#FFFEEB;
  }
.frame{
    -fx-border-color:#1B1464;
    -fx-border-width:6px;
    -fx-background-radius:30px;
    -fx-border-radius:30px;
    -fx-background-color: #FFFFFF;
}

.button{
    -fx-background-radius:30px;
    -fx-background-color:#2EC4FF;
}
.button:hover{
    -fx-background-radius:30px;
    -fx-background-color:#0C6CCC;
}
.button2{
    -fx-background-radius:30px;
    -fx-background-color:#1b1464;
}
.button2:hover{
    -fx-background-radius:30px;
    -fx-background-color:#0C6CCC;
}
.button3{
    -fx-background-radius:30px;
    -fx-background-color:white;
    -fx-border-color:#1B1464;
    -fx-border-width:5px;
    -fx-border-radius:30px;
}
.button3:hover{
    -fx-background-radius:30px;
    -fx-background-color:#FFFF00;
    -fx-border-color:#1B1464;
    -fx-border-width:5px;
    -fx-border-radius:30px;
}

.modoru{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:20px;
}
.modoru:hover{
    -fx-background-color:FFFF00;
    -fx-background-radius:20px;
}