.top {
       -fx-background-image: url("../images/haikeisimple.png");
        -fx-background-size: cover;
  }
.background {
   -fx-background-image: url("../images/haikei.png");
             -fx-background-size: cover;
  }
.frame{
    -fx-border-color:#1B1464;
    -fx-border-width:6px;
    -fx-background-radius:30px;
    -fx-border-radius:30px;
    -fx-background-color: #FFFFFF;
}

.button{
    -fx-background-radius:30px;
    -fx-background-color:#2EC4FF;
}
.button:hover{
    -fx-background-radius:30px;
    -fx-background-color:#0C6CCC;
}


.modoru{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:20px;
}
.modoru:hover{
    -fx-background-color:#FFFF00;
    -fx-background-radius:20px;
}
.button2{
    -fx-background-radius:30px;
    -fx-background-color:#14A1AD;
}
.button2:hover{
    -fx-background-radius:30px;
    -fx-background-color:#0C6CCC;
}
.mini{
    -fx-background-radius:12px;
    -fx-background-color:#96E1FF;
}
.mini:hover{
    -fx-background-radius:12px;
    -fx-background-color:#0C6CCC;
}
.toziru{
           -fx-background-radius:12px;
           -fx-background-color:#FFFF00;
       }
.toziru:hover{
           -fx-background-radius:12px;
           -fx-background-color:#FFCE00;
       }
