.top {
       -fx-background-image: url("../images/haikeisimple.png");
        -fx-background-size: cover;
  }
.background {
    -fx-background-image: url("../images/haikei.png");
           -fx-background-size: cover;
  }


.button{
    -fx-background-radius:30px;
    -fx-background-color:#2EC4FF;
}
.button:hover{
    -fx-background-radius:30px;
    -fx-background-color:#0C6CCC;
}


.modoru{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:20px;
}
.modoru:hover{
    -fx-background-color:FFFF00;
    -fx-background-radius:20px;
}