.background {
    -fx-background-image: url("../images/haikei.png");
    -fx-background-size: cover;
  }
.startlogo {
    -fx-background-image: url("../images/logostart.png");
    -fx-background-size: cover;
  }
.startwa {
    -fx-background-image: url("../images/startwa.png");
    -fx-background-size: cover;
  }
.button{
  -fx-background-color: #2EC4FF;
  }
.button:hover{
-fx-background-color:#0C6CCC;
}
