.background {
    -fx-background-color:#D8FFFB;
  }
.frame{
    -fx-border-color: #14A1AD;
    -fx-border-width:6px;
    -fx-background-radius:30px;
    -fx-border-radius:30px;
    -fx-background-color: #FFFFFF;
}

.button{
    -fx-background-radius:30px;
    -fx-background-color:#2EC4FF;
}
.button:hover{
    -fx-background-radius:30px;
    -fx-background-color:#0C6CCC;
}


.modoru{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:20px;
}
.modoru:hover{
    -fx-background-color:FFFF00;
    -fx-background-radius:20px;
}